@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

@media (max-width: 480px)
.media {
    
}

/* Variablen erstellen
:root{
    --primary: color;
    --secondary: color2;
}

Einsetzen beispiel:
background: var(--primary);

*/

body {
    font-family: Roboto Condensed;
background-color: #A88D5E;
width: auto;
  padding: 50px;
  margin: auto;
}

h1 {
    font-family: Roboto Condensed;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.25em;
}

.mainNav{
    background: #F5A925;
    color: #0051A8;
    font-size: 35px;
    font-family: Roboto Condensed;
    font-weight: 100px;
    display: inline;
}

a.linksNav {
    color: white;
    text-decoration: none;
    margin: 10px;
}
a.linksNav:hover{
    color: black;
}

table{
font-family: Roboto Condensed;
background-color: #0051A8;
color: white;
padding: 25px;
margin-left: 40%;
}

footer{
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 40%;
}


  
 
