body {
background-color: #A88D5E;
width: auto;
  border: 7px solid #0051A8;
  padding: 50px;
  margin: auto;
}

h1 {
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.25em;
}

.mainNav{
    background: #F5A925;
    color: #0051A8;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100px;
}

a.linksNav {
    color: white;
    text-decoration: none;
    margin: 10px;
}
a.linksNav:hover{
    color: black;
}


  
 
